# 1. Игнорировать вообще всё в этой папке
*

# 2. НО не игнорировать следующие файлы (наш "белый список"):
!FIFO.v
!FIFO_tb.v
!ReportFIFO.pdf
!static_analyzer.py

# 3. Базовые файлы, которые принято хранить в любом репозитории
!.gitignore
!README.md
